#home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../../assets/images/header-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-contain {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-contain__texts {
  width: 50%;
  color: var(--white-color);

  @media only screen and (max-width: $mq-lg) {
    width: 100%;
    text-align: center;
    padding: 10rem;
  }

  @media only screen and (max-width: $mq-sm) {
    padding: 5rem;
  }
}

.hero-contain__texts__title {
  font-size: 4.1rem;
  line-height: 1.2;
}

.hero-contain__texts__para {
  margin: 2.5rem auto 4.5rem;
}
