.navbar {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2.5rem 0;
}

.menu-btn {
  display: none;
  line-height: 0;
  cursor: pointer;

  @media only screen and (max-width: $mq-lg) {
    display: block;
  }
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  img {
    width: 150px;
  }
}

.navbar__menu__list {
  display: flex;
  gap: 3rem;

  @media only screen and (max-width: $mq-lg) {
    display: none;
  }
}

.navbar__menu__list {
  li:hover {
    color: var(--robin-blue-color);
  }
}

.navbar__menu__small {
  position: fixed;
  width: 30rem;
  height: 100vh;
  padding: 3.2rem;
  top: 0;
  right: 0;
  z-index: 9;
  transition: all 0.3s;
  transform: translateX(100%);
  background-color: var(--robin-blue-color);
  box-shadow: -0.2rem 0 2rem rgba(0, 0, 0, 0.4);

  @media only screen and (max-width: $mq-lg) {
    &.active {
      transform: translateX(0);
    }
  }

  .i-close {
    position: absolute;
    cursor: pointer;
    top: 3.2rem;
    right: 1.9rem;
  }

  .navbar__menu__small__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;

    li {
      transition: all 0.3s;
    }

    li:hover {
      transform: translateX(0.5rem);
    }
  }
}
