#skills {
  background-color: var(--whitesmoke-color);
  background-image: url("../../assets/images/skills-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
