.container {
  max-width: 1177px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* section */
.section__title {
  margin-bottom: 4rem;
  color: var(--black-color);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 4rem;
}

.section__padding {
  padding: 10rem 0;
}

/* texts and paras */
.para__text {
  line-height: 1.7;
  font-weight: 300;
  opacity: 0.95;
  letter-spacing: 1px;
}

.text__center {
  text-align: center;
}

.text__upper {
  text-transform: uppercase;
}

.text__cap {
  text-transform: capitalize;
}

.text__blue {
  color: var(--robin-blue-color);
}

.text__dark {
  color: var(--black-color);
}

.text__light {
  color: var(--white-color);
}

.text__grey {
  color: var(--grey-color);
}

/* btns */
.btn {
  display: inline-block;
  min-height: 54px;
  line-height: 54px;
  padding: 0 4.7rem;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-weight: 500;
  transition: var(--transition);
  border-radius: 8px;
}

.btn__blue {
  background-color: var(--robin-blue-color);
}

.btn__blue:hover {
  background-color: #18a09b;
}
